<!DOCTYPE html>

<html lang="es">

 <!-- Parte NO visible de la pagina -->
<head>
	<title> Evento Imprimir</title> <!-- nombre de la pestaña -->
	<meta charset="utf-8" />
	<meta name="Author" conten="Mario Genol Morales">
	<meta name="Description" content="Practica 1 SIBW">
	<link rel="stylesheet" href="css/imprimir.css"> <!-- Enlazar archivo css -->
</head>

<body>
    <header>
        <div id="cabecera">
			<img id="logo_erasmus" src="../images/logo.jpeg" alt="Logo" height="100">
		</div>
    </header>
    
    <div id="cuerpo_principal">
        <section id="contenido_principal">
            <div id="titulo_evento">
                    <h2>Free Tour por Granada</h2>
                    <h3>Vida Erasmus Granada</h3>
                    <h4>23/03/2020</h4>
            </div>
        
            <div id="contenido_evento">
                <p>Granada ha sido testigo y hogar del cruce de civilizaciones desde tiempos inmemoriables. Conoce con nuestro Free Tour Granada Imprescindible el origen de esta tierra, una ciudad plagada de misterios, historias y leyendas que se ocultan entre sus muros.</p>

                <p>Granada Imprescindible es un viaje al pasado entre el Islam, el Judaísmo y el Cristianismo, donde seremos testigos de un arte, cultura y costumbres aún latentes. En su casco histórico, declarado Patrimonio de la Humanidad, veremos la transformación de la medina musulmana en capital cristiana. Prueba de ello son los barrios del Albaicín y del Realejo, donde se encontraba la ya desaparecida judería granadina.</p>

                <p>El evento tendrá lugar a las 17:00 en la plaza del Ayuntamiento. Durante este recorrido a pie con guía en español visitaremos los lugares más destacados y emblemáticos de Granada, como la Catedral, la Capilla Real o las casas mudéjares. También contemplaremos una panorámica de la ciudad desde distintos miradores y os llevaremos hasta el Paseo de los Tristes, calle ubicada entre la colina de la Alhambra y el Albaicín y a orillas del Río Darro. Oficialmente se llama Paseo del Padre Manjón, pero en el siglo XIX era el camino que se tomaba hacia el cementerio de la ciudad, con lo que se ganó ese sobrenombre.</p>

                <p>Y si, además del patrimonio histórico y monumental, quieres vivir la experiencia granadina en su mayor amplitud, nuestro guía del free tour te hará recomendaciones sobre dónde ir a disfrutar de los mejores bares de tapas tradicionales y cómo desplazarte a cada lugar.</p>
                
            </div>
		</section> 
        
    </div>
    
    <footer><!-- PIE DE PAGINA -->
        <!--<input type="button" value="Imprime esta pagina" onclick="window.print()">-->
        <p>&copyVida Erasmus Granada</p>
        <p>Calle Periodista Daniel Saucedo Aranda, s/n • 18071 Granada </p>
        <p>958 24 28 65 • e-mail: granadaerasmus@gmail.com</p> 
    </footer>
</body>

</html>
