{% extends "padre.html" %}

{% block mensaje %}Modificar Datos{% endblock %}

{% block central %} 
	<div id="formularioEntrada">
		<form id="CambiarDatos" action="modificaUsr.php" method="post">
			<!-- No es posible cambiar el nickname -->
			Nombre: <input type="text" name="nombre" /><br>
			Apellidos: <input type="text" name="apellidos" /><br>
			Contraseña: <input type="password" name="contraseña" /><br>
			Email: <input type="text" name="email" /><br>
			<input type="submit" value="Cambiar Datos"/>
		</form>                
	</div>
{% endblock %}